.page {
  position: relative;
  background: #ffffff;
}
.header {
  height: 80px;
  display: flex;
  /* grey-0 */
  background: #f5f5f5;
  align-items: center;
  justify-content: space-around;
}

.container {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 50px;
  /*width: 940px;
  height: 735px;*/
}

h1 {
  color: #282c34;
}

h2 {
  color: red;
  padding-left: 5px;
}

.esquerda {
  display: flex;
  align-items: baseline;
}

.direita {
  display: flex;
  align-items: baseline;
}
